link(rel='stylesheet', href='/b_public/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/b_public/bootstrap/dist/css/bootstrap-theme.min.css')

link(rel='stylesheet', href='/public/css/style.css')

script(src='/b_public/jquery/dist/jquery.min.js')
script(src='/b_public/bootstrap/dist/js/bootstrap.min.js')
script(src='/b_public/angularjs/angular.min.js')