@font-face{
  font-family: Circle_Gordita;
    src: url(../img/Fonts/circlegordita.ttf);
}

/* Empty. Add your own CSS if you like */
.autism-app-largeicon{
	font-size: 30px;
	padding: 0px 2px;
}

.food-item{
  box-shadow: rgb(246, 255, 205) 0px 0px 0px;
  position:  relative;
  transform:scale(1.00,1.00);
  transition:transform,box-shadow;
}

.food-item .remove{
  position:  absolute;
  top: 0px;
  left: 0px;
  font-size: 30px;
}

.food-item.selected{
  !box-shadow: rgb(246, 255, 205) 0px 0px 20px;
  transform:scale(1.03,1.03);
  z-index: 9000;
}

.main-container{
	 background: url("../img/App Images/wooden background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.food-suggestion-item{
	margin-bottom:  6px;
}

.button-gordita{
	font-family: Circle_Gordita;
    color: #0096BB !important;
    font-size: 50px;
    text-shadow: -1px 1px #009AEA;
}

.header-image{
	width: 80%;
	max-width: 700px;
  margin: 0px auto;
  position:  relative;
	
}
.header-image img{
	width: 100%;
	height: auto;

}

.header-title{
	font-family: Circle_Gordita;
	 color: #2D7398 !important;
	text-shadow: -1px 1px #009AEA;
	    font-size: 45px;
	text-align: center;
}


#info{

  background-color: rgba(255, 255, 255 , 0.5);
  color: black;
  padding: 10px;
  margin: 10px;
}

#info-content {
  font-family: Circle_Gordita;
  opacity: 1.0;
  font-size: 20px;
  line-height: 1.4em;
}

#info-content p {
  font-family: arial;
}

.info-title {
  font-family: Cicle_Gordita;
  font-size: 32px; 
  margin-top: 0px;
}