<!--  <div id=back onclick="window.location.href='index.html'">
  ←
</div>-->
<div id="image"></div>
<div id="about">
  
  <!--   <img src="img/graphic.png" style="width:70%;padding:0px"/>-->
  About
</div>
<div id="description">
  <div id="ttle">
    Background
  </div>
  <div id="info">
    Many children have specific preferences with what foods he or she                  Many children have specific preferences with what foods he or she                  Many children have specific preferences with what foods he or she                  Many children have specific preferences with what foods he or she                  Many children have specific preferences with what foods he or she                  Many children have specific preferences with what foods he or she                  Many children have specific preferences with what foods he or she                  Many children have specific preferences with what foods he or she                  Many children have specific preferences with what foods he or she                  Many children have specific preferences with what foods he or she
  </div>
</div>