<!--  <div id=back onclick="window.location.href='index.html'">
  ←
</div>-->
<div class="header-image">
	<img src="img/Home/graphic.png" />
</div>
<h3 class="header-title">
  About
</h3>

<div >
  <h4 >
    Background
  </h4>
  <div id="info">
    Many children have specific preferences with what foods he or she                  Many children have specific preferences with what foods he or she                  Many children have specific preferences with what foods he or she                  Many children have specific preferences with what foods he or she                  Many children have specific preferences with what foods he or she                  Many children have specific preferences with what foods he or she                  Many children have specific preferences with what foods he or she                  Many children have specific preferences with what foods he or she                  Many children have specific preferences with what foods he or she                  Many children have specific preferences with what foods he or she
  </div>
</div>