<div class="main-container">
  <div class="header-image">
      <img src="img/Home/graphic.png" />

    </div>
      
  <h3 class="header-title" style="margin-top: 0px; margin-bottom: 30px">
  Let's Get Started!
  </h3>
  <div id="info">
    <div id="info-content">
      
      <p>Begin this application by clicking "START"</p>
      <p>The first page that appears will provide three drop-down menus</p>
      <p>The top menu provides options of what characteristic your child prefers, with the options of TEXTURE, TASTE, OR COLOR</p>
      <p>The second menu will then have a list of subcategories, depending on which characteristic is chosen from the first menu</p>
      <p>The third menu contains the options for parents to specify which food group he or she wants. If there is no preference for food group, "NO PREFERENCE" will be selected</p>
    </div>  
  </div>
</div>
