<div  align-title="left" class="bar bar-header bar-light ">
	<div>
		<a href="#/" class="button button-clear"><i class="autism-app-largeicon ion-ios-home"></i></a>
		<button ng-submit="" class="button button-clear"><i class="autism-app-largeicon ion-ios-keypad"></i></button>
	</div>
</div >
<ion-content class="main-container" style="positive:relative"  ng-drop="true" ng-drop-success="onDropComplete($data,$event)" >
<div class="content has-header padding" >
	<div ng-repeat="(key,value) in pecBoardItems track by $index" ng-if="$index%2===0" class="row">		
		<div class="col col-50 food-item" ng-click="changeSelected(pecBoardItems[keys[$index]].name)">
			<div class="item item-divider">
				{{pecBoardItems[keys[$index]].name}}
			</div>
			<div class="item item-text-wrap">
				<img style="width:100%;height:auto" src="{{pecBoardItems[keys[$index]].image}}"/>
			</div>
		</div>
		<div class="col food-item" ng-click="changeSelected(pecBoardItems[keys[$index+1]].name)">
			<div class="item item-divider">
				{{pecBoardItems[keys[$index+1]].name}}
			</div>
			<div class="item item-text-wrap">
				<img style="width:100%;height:auto" src="{{pecBoardItems[keys[$index+1]].image}}"/>
			</div>
		</div>
	</div>
<div> I want {{whatIWant}}</div>
</div>

</ion-content>